// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;


// couleur figma
// $principale #BFE1FC;
// $secondaire #D00A71; // rouge carmin
// $tertiaire #05B4FF; // blueu ciel vif
// $gris #C4C4C4 opacity: 0.15; // girs clair fond 15%

// :root {
//   --principale: #FFAA05;
//   --secondaire: #D00A71;
//   --tertiaire: #05B4FF;
//   --gris: #C4C4C4; //opacity: 0.15;
//   --grisclair: #FFFAFA;
//   --fond:white;
// }

$orange: #FFAA05;
$bold-gray: rgba( 0, 0, 0, 0.5);
$gray: rgba( 95, 95, 95, 1);
$light-gray: rgba( 0, 0, 0, 0.020);
