.details-card {
  background-color: white;
  position: relative;
  max-width: 350px;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  color: $bold-gray;

  a {
    color: $orange;
  }
}

.details-buttons {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;

}
