// Specific CSS for your home-page
.home-page{
    background-color: $orange;
    padding-top: 10rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  img {
    max-width: 100px;
    display: flex;
    margin: 0px auto;
  }


  h1 {
    color: #fff;
    text-align: center;
    font-style: $T2;
    margin-top: 1rem;
    flex-grow: 1;
  }

  .signin-container {
    padding: 0 1rem;
  }


  .button-empty {
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 6rem;
  }
}
