// Specific CSS for your home-page
.slogan {
margin-top: 5em;
text-align: center;

}

.titrehome{
color: green;
margin-top: 1em;
margin-left: 1em;

}

.hauthome {
height: 10em;
}

.photohome {

width: 100%;
height: 100%;

}
