// Specific CSS for your home-page


.slogan {
margin-top: 2em;
text-align: center;
color: gray;

}

.hauthome {
height: 10em;
}

.photohome {
display:flex;
align-items: center;
width: 20em;
height: 17em;
margin: auto;
}

.wrap_home {
display:flex;
flex-direction: column;
margin: auto;

}
