
.button-container {
  display: flex;
  margin: 1rem auto;
  max-width: 340px;
  justify-content: space-between;
  align-items: center;
}

.button-scroll {
  margin: 1.5rem auto;
  max-width: 20px;

  #button-show{
  text-align: center;
  color: $orange;
  font-size: 32px;

}
}


