<%= render partial: "shared/navbar", locals: {
  title: @task.title,
  sub_title: "Envoyé le #{@task.created_at.strftime('%d/%m/%Y')}",
  button: job_path(@task.job)
  } %>

<p><%= @task.content %></p>
<% @task.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
