<h1>Les metier en cours:</h1>
<ul>
  <% @jobs.each do |job| %>
    <li>
        <%= link_to job.name, job_path(job) %>
    </li>
  <% end %>
</ul>

<%= link_to 'voir les documents', documents_path %>


