<%= render partial: "shared/navbar", locals: {
  title: @job.name,
  sub_title: "#{@job.tasks.count} tâches #{@job.tasks.count == 0 ? '' : "• Dernier envoi : #{@job.tasks.last.created_at.strftime('%d/%m/%Y')}"}",
  button: current_user.constructor? ? user_path(@job.user) : jobs_path,
  user: current_user
  } %>

  <% if current_user.constructor? %>
    <div class="icon">
      <%= render partial: "shared/toggle_button", locals: {job: @job}  %>
    </div>
  <% end %>

<% if policy(@job.tasks).create? %>

<%= link_to new_job_task_path(@job) do %>
  <div class="button-empty">
    <i class="fas fa-plus"></i>
    <p>Ajouter une tâches</p>
  </div>
<% end %>

<% end %>

<% @job.tasks.order(created_at: :desc).each do |task| %>
  <%= render partial: "shared/task_card", locals: { task: task } %>
<% end %>



