<%= render partial: "shared/navbar", locals: {
  title: @job.name,
  sub_title: "#{@job.tasks.count} tâches • Dernier envoi : #{@job.tasks.last.created_at.strftime('%d/%m/%Y')}",
  button: current_user.constructor? ? user_path(@job.user) : jobs_path
  } %>

<ul>
  <% @job.tasks.order(created_at: :desc).each do |task| %>
    <li>
      <%= task.title %> <%= link_to 'voir', job_task_path(task)  %> |
      <% if task.seen %>
        <p>Vu</p>
      <% else %>
        <p>Non vu</p>
      <% end %>
    </li>
  <% end %>
</ul>

<% if policy(@job.tasks).create? %>
  <%= link_to 'Creer une taches', new_job_task_path(@job) %>
<% end %>
