<%= render partial: "shared/navbar", locals: {
  title: @job.name,
  sub_title: "#{@job.tasks.count == 0 ? 'Aucune tâche pour cette étape' : "#{ pluralize @job.tasks.count, "tâche", "tâches"} • Dernier envoi : #{@job.tasks.last.created_at.strftime('%d/%m/%Y')}"}",
  button: current_user.constructor? ? user_path(@job.user) : jobs_path,
  user: current_user.constructor? ? @job.user : current_user
  } %>

  <div class='button-container'>
    <% if policy(@job.tasks).create? %>
      <%= render partial: "shared/plus_button", locals: {link: new_job_task_path(@job)} %>
    <% end %>

    <% if current_user.constructor? && !@job.completed.nil? %>
      <%= render partial: "shared/toggle_btn_job", locals: {job: @job}  %>
    <% end %>
  </div>



<div class="box">
  <ul id="first-list">
    <% @job.tasks.order(created_at: :desc).each do |task| %>
      <li>
        <%= render partial: "shared/task_card", locals: { task: task } %>
      </li>
    <% end %>
  </ul>
</div>

<% if @job.tasks.length > 2 %>
  <div class="button-scroll">
    <i class="fas fa-arrow-down" id="button-show"></i>
  </div>
<% end %>





