<%= render partial: "shared/navbar", locals: {
  title: @job.name,
  sub_title: "#{@job.tasks.count} tâches • Dernier envoi : #{@job.tasks.last.created_at.strftime('%d/%m/%Y')}",
  button: :back
  } %>

<ul>
  <% @job.tasks.each do |task| %>
    <li>
      <%= task.title %> <%= link_to 'voir', job_task_path(task)  %> |
      <% if task.seen %>
        <p>Vu</p>
      <% else %>
        <p>Non vu</p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Creer une taches', new_job_task_path(@job) %>
