<%= render partial: "shared/navbar_home", locals: {
  title: "#{@user.company_name}",
  sub_title: "#{@clients.length} clients • XX actifs",
  user: current_user,
  } %>

<%= link_to '#' do %>
  <div class="add-container">
    <i class="fas fa-plus"></i>
    <p>Ajouter un client</p>
  </div>
<% end %>

<% @clients.each do |client| %>
  <%= render partial: "shared/client_card", locals: {client: client} %>
<% end %>







