<div class="documents-container">
<%= link_to "", rails_blob_path(document.photo), class: 'cover-link', :target => '_blank' %>
  <i class="fas fa-file"></i>
  <div class="document-info">
    <p><%= document.title %></p>
    <p><%= document.category %></p>
    <p>Ajouté le <%= document.created_at.strftime('%d/%m/%Y') %></p>
  </div>
</div>




