<div class="documents-container">
<%= link_to "", document_path(document), class: 'cover-link' %>
  <div class="document-info">
    <p><%= document.title %></p>
    <p><%= document.category %></p>
    <p>Ajouté le <%= document.created_at.strftime('%d/%m/%Y') %></p>
  </div>
</div>

