<div class="documents-container">
<%= link_to "", rails_blob_path(document.photo), class: 'cover-link', :target => '_blank' %>
  <div class="document-info">
    <h1><%= document.title %></h1>
    <h3><%= document.category %></h3>
    <h3>Ajouté le <%= document.created_at.strftime('%d/%m/%Y') %></h3>
  </div>

</div>




