<div class="job-card-container in-progress">
  <%= link_to '', job_path(job), class: 'cover-link' %>
  <div class="job-info">
    <h2><%= job.name %></h2>
    <h4><%= pluralize job.tasks.where(seen: false).count, "nouvelle tâche", "nouvelles tâches" %>.</h4>
    <h4>Dernière notification : <%= job.updated_at.strftime('%d/%m/%Y') %></h4>
  </div>
</div>

