<div class="job-card-container pending">
  <%= link_to '', job_path(job), class: 'cover-link' %>
  <div class="job-info">
    <h2><%= job.name %></h2>
    <h4>Cette étape n'a encore pas commencée.</h4>
  </div>
</div>
