<div class="navbar-container">
  <div class="icon">
    <%= link_to "Q", destroy_user_session_path, method: :delete %>
  </div>
  <div class="navbar-description">
    <h1><%= title %></h1>
    <h3><%= sub_title %></h3>
  </div>
</div>
