
  <div class="switch-button">
    <%= link_to users_path do  %>
      <p class="<%= active_class_for('liste') %>">Liste</p>
    <% end %>
    <%= link_to users_map_path do  %>
      <p class="<%= active_class_for('map') %>">Carte</p>
    <% end %>
  </div>
</div>
