<span></span>
<%= link_to '', task_path(task), class: 'cover-link'%>
<% if task.seen? %>
  <div class="time">
    <p id="seen-date"><%= task.created_at.strftime('%d/%m/%Y') %></p>
  </div>
<% else %>
  <div class="time">
    <p><%= task.created_at.strftime('%d/%m/%Y') %></p>
  </div>
<% end %>

<div class="title"><h2><%= task.title %></h2></div>
<div class="bottom">
  <div class="link"><p>En savoir plus</p></div>
    <% if task.seen? %>
      <div class="task-state" id="seen">
        <p>Vu</p>
      </div>
    <% else %>
      <div class="task-state">
        <p>Non vu</p>
      </div>
    <% end %>
</div>









