<span></span>
<div class="title"><%= task.title %></div>
<div class="info"><%= task.content %></div>
<div class="link"><%= link_to 'En voir plus', task_path(task)%></div>
<div class="name">
      <% if task.seen? %>
        <p>Vu</p>
      <% else %>
        <p>Non vu</p>
      <% end %>
</div>
<div class="time">
    <span><%= task.created_at.strftime('%d/%m/%Y') %></span>
</div>




