<span></span>
<%= link_to '', task_path(task), class: 'cover-link'%>
<div class="time">
  <p><%= task.created_at.strftime('%d/%m/%Y') %></p>
</div>
<% if task.seen? %>
  <div class="title"><h2><%= task.title %></h2></div>
<% else %>
  <div class="title"><h2 id="seen-title"><%= task.title %></h2></div>
<% end %>
<div class="bottom">
  <div class="link"><p>En savoir plus</p></div>
    <% if task.seen? %>
      <div class="task-state" id="seen">
        <p>Vu</p>
      </div>
    <% else %>
      <div class="task-state">
        <p>Non vu</p>
      </div>
    <% end %>
</div>









