<div class="task-card-container-wrap">

  <div class="timeline">

  <% if task.seen? %>
    <i class="far fa-circle"></i>
  <% else %>
    <i class="fas fa-circle"></i>
  <% end %>

    <div class="line"></div>
  </div>

  <div class="task-card-container">
    <%= link_to '', task_path(task), class: 'cover-link'  %>
    <div class="task-info">
      <h2><%= task.title %> </h2>
      <% if task.seen? %>
        <p>Vu</p>
      <% else %>
        <p>Non vu</p>
      <% end %>
    </div>
  </div>


</div>




