<div class="task-card-container">
  <%= link_to '', path, class: 'cover-link'  %>
  <div class="task-info">
    <h2><%= task_title %> </h2>
    <% if task_seen %>
      <h4>Vu</h4>
    <% else %>
      <h4>Non vu</h4>
    <% end %>
  </div>
</div>


