<div class="tutorial-card">
  <%= link_to '', "https://#{tutorial.url}", class: 'cover-link' %>
  <i class="fas fa-lightbulb"></i>
  <div class="tutorial-info">
    <h2><%= tutorial.title %></h2>
    <h3><%= tutorial.description %></h3>
    <p>Disponible sur YouTube...</p>
  </div>
</div>





