<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<body style="background-color: var(--fond)";>

<div>

  <div class = "hauthome">haut</div>

  <div class = "photohome">
    <%= image_tag "home1.png" %>
  </div>
  <div class = "photohome"> </div>
  <div class = "photohome"></div>

  <div class = "bashome">connection</div>






</div>

</body>
