<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<body style="background-color: var(--principale)";>

<div>

  <div class = "hauthome">haut</div>

  <div class = "photohome">
    photo
  </div>

  <div class = "bashome">connection</div>






</div>

</body>
