<h1>Mes documents</h1>
<ul>
  <% @documents.each do |document| %>
    <li>
      <%= document.title %>
      <%= document.category %>
      <%= link_to 'voir le document',  document_path(document)  %>
    </li>
  <% end %>
</ul>

<%= link_to 'Creer un document', new_document_path %>

