.button-empty {
  flex: 1 0 auto;
  height: 33px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $orange solid;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  color: $orange;

  i {
    text-decoration: none;
    color: $orange;
    margin-right: 0.5rem;
  }

  p {
    color: $orange;
    margin: 0;
  }

  a {
    color: $orange;
    margin: 0;
    text-decoration: none;
  }
}

.button-full {
  flex: 1 0 auto;
  height: 33px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $green solid;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  background-color: $green;

  i {
    text-decoration: none;
    color: white;
    margin-right: 0.5rem;
  }

  input {
    color: white;
  }

  p {
    color: white;
    margin: 0;
  }

  a {
    color: white;
    margin: 0;
  }
}

.plus_button {
  width: 50px;
  border-radius: 10px;
  padding: 0.2rem;
  border: 1px $orange solid;
  text-align: center;
  margin-right: 1rem;
  height: 33px;

  a {
    text-decoration: none;

    i{
      color: $orange;
      font-size: $T3;
    }
  }

}
