.button-empty {
  flex: 1 0 auto;
  height: 33px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $orange solid;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  color: $orange;


  i {
    text-decoration: none;
    color: $orange;
    margin-right: 0.5rem;
  }

  p {
    color: $orange;
    margin: 0;
  }

  a {
    color: $orange;
    margin: 0;
    text-decoration: none;
  }
}

.button-empty:hover {

  transition: transform 0.20s;
  transform: scale(0.93);
  color: $white;
  background-color:$orange;
  transition: background-color 0,5s;
  text-decoration:none;
  border:none;
}





.button-full {
  flex: 1 0 auto;
  height: 33px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $green solid;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  background-color: $green;

  i {
    text-decoration: none;
    color: white;
    margin-right: 0.5rem;
  }

  input {
    color: white;
  }

  p {
    color: white;
    margin: 0;
  }

  a {
    color: white;
    margin: 0;
  }
}

.plus_button {
  width: 50px;
  border-radius: 10px;
  padding: 0.2rem;
  border: 1px $orange solid;
  text-align: center;
  margin-right: 1rem;
  height: 33px;
  position: relative;

  a {
    text-decoration: none;

    i{
      color: $orange;
      font-size: $T3;
    }
  }

  i{
    color: $orange;
    font-size: $T3;
  }

  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


}

.plus_button:hover {
  transition: transform 0.20s;
  transform: scale(0.93);
  color: $white;
  background-color:$orange;
  transition: background-color 0,5s;
}





