.job-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  max-width: 340px;
  margin: 1rem auto;
  border-radius: 10px;
  color: $gray;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-left: 10px solid rgba(0, 0, 0, 0);

  &.in-progress {
  border-left: 10px solid $orange;
  color: $orange;

  }

  &.pending {
  }

  &.completed {
    color: rgba( 0, 0, 0, 0.25);
  }

  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  h2 {
    font-size: $T2;
  }

  h4 {
    font-size: $T4;
  }

  .icon {
    z-index: 10;
  }

}
