.job-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 340px;
  margin: 1rem auto;
  border-radius: 10px;
  position: relative;
  color: $gray;
  background-color: $orange-light;

  &.in-progress {
  border-left: 10px solid $orange;
  color: $orange;

  }

  &.pending {
  }

  &.completed {
    opacity: 0.7;
  }

  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }


  h2 {
    font-size: $T2;
  }

  h4 {
    font-size: $T4;
    color: $gray;
  }

  .icon {
    z-index: 10;
  }
}
