.navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px $light-gray solid;
  padding: 0.5rem 2rem;

  .icon {
    width: 20%;
    text-align: center;
  }

  .navbar-description {
    width: 80%;
    margin-left: 1rem;
  }


  h1{
    font-size: $T1;
    color: $bold-gray;
  }

  h3 {
    font-size: $T3;
    color: $orange;
  }

}
