.field {
  font-family: inherit;
  font-size: 1em;
  padding: 20px;
  border-radius: 10px;
  }

.paddingremember {
  color: gray;
  padding: 2em 0 0 0;
}


.centerbetewen {
display: flex;
align-items: center;
justify-content: space-between;

}

.liens {
color: gray;
  a {
  text-decoration: none;}
}
