.form-field {
  font-family: inherit;
  font-size: 1em;
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 320px;
  }
  .add-photo-button {
    position: relative;

    input[type="file"] {
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    }

    .button-empty {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label {
      background-color: red;
      display: inline-block;
      position: relative;
      height: 100px;
      width: 400px;
    }
  }

  .btn.button-full {
    color: white;
    margin-top: 3rem;
  }

  .form-control {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid $orange;
  }

  abbr[title] {
  text-decoration: none;
  display: none;
  }

  .text-muted {
    padding-left: 0.5rem;
  }

  .form-group {
    label { display: none }
    textarea { height: 120px }
  }






.paddingremember {
  color: gray;
  padding: 2em 0 0 0;
}


.centerbetewen {
display: flex;
align-items: center;
justify-content: space-between;

}

.liens {
color: $gray;
  a {
  text-decoration: none;}
}

input[type="file"].nice_input_file {
  display: none;
}
