
.task-card-container-wrap{
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 300px;
  margin: 0 0 0 1rem;
}


.timeline {

  text-align: -webkit-center;
  position: relative;

  i{
    color: $orange;
    font-size: 20px;
  }

  .line{
    width: 2px;
    height: 28px;
    background-color: $orange;
    position: absolute;
    transform: translateX(10px);
    top: 30px;
  }
}


.task-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  border-radius: 10px;
  position: relative;
  margin-left: 1rem;

  .cover-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h2 {
    font-size: $T2;
    color: $gray;
  }

  p {
    font-size: 10px;
  }
}
